.jsh1{
    background-color:#f7e018;
    color:#000;
}
#js{
    margin:3% 30%;
    font-size:1.1em;
    font-weight:normal;
    text-align:justify;
}

    /*      Desafio 1   */

.button{
    width:25%;
    min-height:80px;
    margin:3%;
    background-color:#f7e018;
    color:black;
    border:1px solid black;
    box-shadow:10px 10px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius:10px;
    font-size:2em;
    font-weight:normal;
    cursor:pointer;
    transition:1s;
}